<html lang="en">
    <head>
        <title>Welcome to Movies</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
        <script>
          $(document).ready(function(){
            $('.register').hide();
            $('#show').click(function(){
              $('.register').show();
            })
          })
          </script>
        <style>
            div.login{
                display: inline-block;
                border: 3px solid black;
                padding: 10px;
            }
            div.register{
                display: inline-block;
                border: 3px solid black;
                vertical-align: top;
                padding: 10px
            }
        </style>
    </head>
    <body>
        <h1>Welcome to Movies!</h1>
        {% for message in messages %}
            <div class="messages">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
        <div class="login">
            <h1>Login</h1>
            <form action="/login" method="post">
                {% csrf_token %}
                Email:  <input type="input" name="email"><br><br>
                Password:  <input type="password" name="password"><br><br>
                <input type="submit" value="Login"><br><br>
            </form>
            <button id="show" type="button" name="button">register</button>
        </div>
        <div class="register">
            <h1>Register</h1>
            <form action="/process" method="post">
                {% csrf_token %}
                Name:  <input type="input" name="name"><br><br>
                Username:  <input type="input" name="username"><br><br>
                Email:  <input type="input" name="email"><br><br>
                Password:  <input type="password" name="password"><br><br>
                Confirm Password: <input type="password" name="confirm_password"><br><br>
                Birthday: <input type="date" name="birth"><br><br>
                Zip Code: <input type="input" name="zip"><br><br>
                <input type="submit" value="Register">
            </form>
        </div>
    </body>
</html>
