<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>movie</title>
  </head>
  <body>
    <img src="" alt="poster">
    <button type="button" name="button">going</button>
    <h1>dates</h1>
    <button type="button" name="button">show times</button>
    <p>(counter)</p>
    <h2>comments</h2>
    <p>comment</p>
    <form class="" action="index.html" method="post">
      {%csrf_token%}
      <textarea name="name" rows="8" cols="80"></textarea>
      <input type="submit" name="" value="comment">
    </form>
  </body>
</html>
