<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome to Movies</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
        <script>
          $(document).ready(function(){
            $('.other_movies').hide();
            $('button.other').click(function(){
              $('.other_movies').show();
            })
            $('#dates').hide();
            $('button.movies_date').click(function(){
                $('#dates').show();
            })
          })
</script>
    </head>
    <body>
        <h1>welcome {{ request.session.user_name }}</h1>
        <div class="movie">
          <h2>Select a movie</h2>
          <div class="pop">
            <img src="" alt="poster goes here">
            <button type="button" name="button"><a href="#">select</a></button>
            <button class="other" type="button" name="button">Other movies</button>
          </div>
          <div class="other_movies">
            <img src="" alt="poster goes here">
            <button type="button" name="button"><a href="#">select</a></button>
          </div>
        </div>
        <div class="date">
          <button class="movies_date" type="button" name="button">date</button>
          <p id=dates>moives on that day (number of people goind)</p>
        </div>
        <div class="user">
          <form class="" action="index.html" method="post">
            {% csrf_token %}
            <input type="text" name="" value="">
            <input type="submit" name="" value="">
          </form>
          <p>list of usernames that match that name</p>
        </div>
    </body>
</html>
